@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded py-3 px-4;
}

.btn--primary {
  @apply bg-primary-500 border-primary-500 text-white;
}

.form__field {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 my-2 text-base leading-tight;
}

.form__field:focus {
  @apply outline-none bg-white border-gray-500;
}

.form__field--error {
  @apply border-red-500;
}

.form__label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold;
}

.form__label:last-child {
  @apply mb-0;
}

.form__error {
  @apply text-red-500 text-xs normal-case font-normal;
}

.form__control {
  @apply w-full mb-6;
}

.nav__link {
  @apply mt-4 ease-in transition duration-100;
}

.nav__link.active,
.nav__link:hover {
  @apply text-primary-500;
}

.nav__btn {
  @apply border border-primary-500 text-primary-500 py-3 px-6 rounded-md inline-block;
}

.nav__btn:hover {
  @apply bg-primary-500 text-white;
}

.page {
  height: 400px;
  padding-bottom: 4rem;
  padding-top: 62px;
}

.page__container {
  min-height: calc(100vh - 336px);
}

@screen md {
  .nav__link {
    @apply mr-8 mt-0;
  }
  .page {
    padding-top: 82px;
  }
}
